body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.logo-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3; /* Ensure it is on top of other elements */
}

.logo-button img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button {
    background-color: #f39c12;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.about-us a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.about-us a:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.7); 
}