#map {
    height: 400px;
    width: 600px;
    border: 1px solid #000;
 }

.legend {
  background: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.legend h3 {
  margin-top: 0;
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
